body {
    background-color: #f2f2f2;
    font-family: 'KoHo', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}


/* Titres */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Helvetica;
    font-weight: 400;
    color: #470303;
}


/* Paragraphe & Typographie */

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.justify-p {
    text-align: justify;
}

.center {
    text-align: center;
}


/* Liens */

a {
    color: #c78686;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #f5a0a0;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid rgb(32, 32, 32);
    margin: 1em 0;
    padding: 0;
    animation-name: taille;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes taille {
    from {
        width: 100%;
    }
    50% {
        width: 0%;
    }
    to {
        width: 100%;
    }
}


/*Topbar*/

#section-topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    overflow: visible;
    font: normal 16px/24px 'KoHo';
}

#section-topbar a {
    color: #fff;
}

#topbar-inner {
    background: #200202;
    line-height: 0;
    text-align: center;
}

#section-topbar ul#nav {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    border-right: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    zoom: 1;
    *display: inline;
}

#section-topbar ul#nav>li {
    display: block;
    float: left;
    padding: 0;
}

#section-topbar ul#nav a {
    display: block;
    font: normal 11px/18px 'KoHo', sans-serif;
    text-decoration: none;
    padding: 18px 20px 18px 20px;
    border-left: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
}

#section-topbar ul#nav a:focus {
    background: #bd2828;
    text-decoration: none;
    border-left: 1px solid #111;
    border-radius: 10px;
}

#section-topbar ul#nav a:hover {
    background: #5a2525;
    text-decoration: none;
    border-left: 1px solid #111;
    border-radius: 10px;
}

#section-topbar ul#nav .active a {
    background: #5a2525;
    border-left: 1px solid #111;
    border-radius: 10px;
}

#section-topbar ul#nav .active a:hover {
    background: #5a2525;
}

#section-topbar i {
    font-size: 25px;
}


/*SECTION WRAPS*/


/* Header Wrap */

#headerwrap {
    background: url(../asset/img/header.jpg) no-repeat center top;
    margin-top: 60px;
    padding-top: 140px;
    text-align: center;
    background-attachment: relative;
    background-position: center center;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    font-size: 80px;
    -webkit-text-stroke: 1px black;
    text-shadow: 3px 3px #000000a3;
    color: white;
}

#headerwrap h3 {
    font-size: 18px;
    text-shadow: 1px 1px #000000a3;
    color: white;
}


/*Cadre*/

#frame {
    color: #fffbf1;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 80px;
    text-decoration: none;
    letter-spacing: -1px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-2%);
}

#frame:before,
#frame:after {
    content: '';
    padding: 1.9em .9em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 12px solid red;
    border-radius: 10px;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 15s infinite alternate ease-in-out tipsy;
}

#frame:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
}

#frame:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 15px 15px 15px rgba(46, 46, 49, .8);
}

@keyframes tipsy {
    0 {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}


/* Intro Wrap */

#intro {
    background: #550303;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

#intro h5,
p {
    color: white;
}

#intro i {
    color: white;
    font-size: 20px;
    padding-right: 8px;
    vertical-align: middle;
}

#skillswrap {
    background: #550303;
    padding-top: 60px;
    padding-bottom: 60px;
    color: white;
}

#skillswrap h5,
p {
    color: white;
}

#footwrap {
    background: #550303;
    padding-top: 50px;
    padding-bottom: 50px;
}

#footwrap p {
    color: white;
}

#footwrap h5 {
    color: white;
}

#footwrap t {
    font-weight: 700;
}

#footwrap i {
    padding-right: 8px;
    color: #ff0505;
}


/* Copyright Wrap */

#copyrights {
    background: #200202;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

#copyrights p {
    margin: 0 0 5px 0;
}

.credits {
    color: #999;
}


/* Valeurs globales */

.desc {
    padding-top: 50px;
}

.desc p {
    color: #bd2828;
}

.desc t {
    color: #bd2828;
    font-weight: 700;
}

.desc imp {
    padding: 6px;
    color: white;
    border-radius: 10px;
    background: #470303;
}

.desc more {
    color: #4d4c4c;
}

sm {
    font-size: 12px;
}


/* Formulaire de contact */

.contact-form label {
    color: #999;
}

.contact-form input,
.contact-form textarea {
    padding: 10px 12px;
    border-radius: 10px;
    box-shadow: none;
    font-size: 14px;
    height: auto;
}

.contact-form .form-send {
    text-align: center;
}

.contact-form .form-send button {
    background: #2b2a2a;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    cursor: pointer;
}

.contact-form .form-send button:hover {
    background: #f59d9d;
}

.contact-form .loading {
    display: none;
    color: rgb(24, 23, 23);
    background: #fff;
    text-align: center;
    padding: 15px;
    margin: 15px 0;
}

@-webkit-keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}